<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.show.mapper.SupplierMapper">

<select id="list" resultType="com.show.pojo.Supplier">
    select *
    from t_supplier;
    </select>

<select id="count" resultType="java.lang.Integer">
    select count(*) from t_supplier
    <where>
        <if   test="querySupCode!=null and querySupCode!=''">
            and supCode=#{querySupCode}
        </if>
        <if   test="querySupName!=null and querySupName!=''">
            and supName=#{querySupName}
        </if>
    </where>
    ;
    </select>

<select id="pages" resultType="com.show.pojo.Supplier">
    select *
    from t_supplier
             <where>
                 <if   test="querySupCode!=null and querySupCode!=''">
                     and supCode=#{querySupCode}
                 </if>
                 <if   test="querySupName!=null and querySupName!=''">
                     and supName=#{querySupName}
                 </if>
             </where>

             limit #{currentPage},#{pageSize};
    </select>

<select id="queryById" resultType="com.show.pojo.Supplier">
    select *
    from t_supplier where  id = #{id} ;
    </select>

<update id="updateById">
    update t_supplier
    <set>
        <if test="supCode!=null and supCode!=''">
            supCode = #{supCode},
        </if>
        <if test="supName!=null and supName!=''">
            supName=#{supName} ,
        </if>

        <if test="supDesc!=null and supDesc!=''">
            supDesc= #{supDesc},
        </if>
        <if test="supContact!=null and supContact!=''">
            supContact= #{supContact} ,
        </if>
        <if test="supPhone!=null and supPhone!=''">
            supPhone= #{supPhone},
        </if>
        <if test="supAddress!=null and supAddress!=''">
            supAddress= #{supAddress},
        </if>
        <if test="supFax!=null and supFax!=''">
            supFax= #{supFax},
        </if>
        <if test="createdUserId!=null and createdUserId!=''">
            createdUserId= #{createdUserId},
        </if>
        <if test="createdTime!=null and createdTime!=''">
            createdTime= #{createdTime},
        </if>


            updatedTime=now(),

        <if test="updatedUserId!=null and updatedUserId!=''">
            updatedUserId= #{updatedUserId}
        </if>
    </set>
    where id =#{id};
    </update>

<insert id="add">

    insert into t_supplier (supCode, supName,
                            supDesc, supContact, supPhone,
                            supAddress, supFax, createdUserId,
                            createdTime, updatedTime, updatedUserId)
    values (
            #{supCode},#{supName},
        #{supDesc},#{supContact},#{supPhone},
        #{supAddress},#{supFax},#{createdUserId},
        #{createdTime},#{updatedTime},#{updatedUserId}
           );
    </insert>
</mapper>